<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	  autoReload="true" 
	  internalLogLevel="info" 
	  internalLogFile="${currentdir}\logs\internalLog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<!-- Target for logging exceptions to a file -->
		<target xsi:type="File" 
				name="exceptionsFile" 
				fileName="${currentdir}\logs\exception.txt"
				createDirs="true"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level:color=Purple}}|${logger}|${message} ${exception:format=tostring}" />

		<!-- Target for logging errors to a file -->
		<target xsi:type="File" 
				name="errorsFile" 
				fileName="${currentdir}\logs\errors.txt"
				createDirs="true"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level:color=Red}}|${logger}|${message} ${exception:format=tostring}" />

		<!-- Target for logging trace logs to a file -->
		<target xsi:type="File" 
				name="traceFile" 
				fileName="${currentdir}\logs\trace.txt"
				createDirs="true"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level:color=Green}}|${logger}|${message} ${exception:format=tostring}" />

		<!-- Target for logging all data to the colored console -->
		<target xsi:type="ColoredConsole" name="alldata"
                layout="${longdate}|${event-properties:item=EventId_Id}|${level:uppercase=true:color=Yellow}|${logger}|${message} ${exception:format=tostring}" >
		</target>
	</targets>

	<rules>
		<!-- Rule to log exceptions to the exceptions file -->
		<logger name="*" level="Error" writeTo="exceptionsFile" />

		<!-- Rule to log errors to the errors file -->
		<logger name="*" level="Error" writeTo="errorsFile" />

		<!-- Rule to log trace logs to the trace file -->
		<logger name="*" minlevel="Trace" writeTo="traceFile" />

		<!-- Rule to log all data to the colored console -->
		<logger name="*" minlevel="Info" writeTo="alldata" />
	
	</rules>
</nlog>
